<!DOCTYPE html>
<html ng-app="calcController">

<head>
  <script data-require="angular.js@1.3.0-beta.5" data-server="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</head>

<body ng-controller="MainController">
  <h1>Book finish day calculator</h1>

  <div>
    <br> Today's Date: {{today}}
  </div>
  <br>Total Pages:
  <input type="number" ng-model="totalPages"/>
  <br>
  <br> Current Page:
  <input type="number" ng-model="currentPage" />
  <br> Pages Per week:
  <input type="number" ng-model="pagesPerWeek">
  <br>
  <button type="submit" ng-click="calculate()"> Calculate </button><br>
  <br> Remaining Pages : {{pagesRemaining}}
  <br> Finish day: {{finishDate}}



</body>

</html>